[submodule "chef/opscode-cookbooks/apt"]
	path = chef/opscode-cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "chef/opscode-cookbooks/build-essential"]
	path = chef/opscode-cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "chef/opscode-cookbooks/couchdb"]
	path = chef/opscode-cookbooks/couchdb
	url = https://github.com/opscode-cookbooks/couchdb
[submodule "chef/opscode-cookbooks/erlang"]
	path = chef/opscode-cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang
[submodule "chef/opscode-cookbooks/nodejs"]
	path = chef/opscode-cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "chef/opscode-cookbooks/yum"]
	path = chef/opscode-cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
