[submodule "cookbooks/couchdb"]
	path = cookbooks/couchdb
	url = git@github.com:opscode-cookbooks/couchdb.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = git@github.com:opscode-cookbooks/erlang.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
